---
import Layout from "../layouts/Layout.astro";
import CommandsNSWF from "../components/CommandsNSWF.astro";
---

<Layout title="Commands NSWF">
    <!--<div class="absolute top-0 z-[-2] h-screen w-screen  bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(244,114,182,0.3),rgba(255,255,255,0))]"></div>  --> 
    <CommandsNSWF />
</Layout>