<div class="mx-auto mt-10 flex max-w-7xl py-10 flex-col-reverse items-center px-4 lg:mt-28 lg:flex-row">
    <div class="flex flex-1 flex-col ">
        <h2 class="text-white md:text-4 bg-clip-text text-center text-3xl font-bold lg:mb-6 lg:text-left lg:text-6xl">Tu dosis diaria de <span class="text-pink-400">Rule34</span> o <span class="text-pink-400">Hentai</span> .</h2>
        <p class="text-white mb-6 font-light text-center text-2xl lg:text-left"><strong class="text-pink-400">Satisfacción</strong> garantizada con cada comando <strong class="text-pink-400 font-extrabold">/</strong></p>
    </div>

    <div class="flex flex-1 justify-end lg:mb-0">
        <img src="/xd.gif" alt="Imagen redonda" width="400px" height="400px" class="rounded-full">
    </div>
</div>