

<div class=" flex items-center justify-center min-h-screen text-white">
  <div class="flex rounded-lg shadow-lg p-6">
    <div class="mr-6">
      <img src="./mo.png" alt="Neko" class="rounded-md" />
    </div>
    <div class="max-w-md">
      <h2 class="text-3xl font-bold mb-4">Noticia!</h2>
      <p class="text-sm mb-4">Gracias por su interés y por utilizar nuestro bot. Queremos informarle que actualmente nuestro bot solo tiene habilitado un comando, ya que se encuentra en una etapa de desarrollo. Los demás comandos están temporalmente desactivados debido a que estamos trabajando arduamente en la corrección de algunos errores y en la mejora de su funcionalidad.</p>
      <p class="text-sm mb-4">Le pedimos un poco de paciencia mientras solucionamos estos inconvenientes. Nuestro equipo está dedicando todos sus esfuerzos para resolver estos problemas lo antes posible y así poder ofrecerle una experiencia más completa y eficiente con el bot.</p>
      <p class="text-sm mb-4">Lamentamos cualquier inconveniente que esto pueda causarle y le agradecemos su comprensión. Apreciamos mucho su apoyo y su paciencia durante este proceso de mejora.</p>

         <a href="/timer" target="_blank" class="inline-block px-6 py-2 bg-pink-400 text-white rounded-md shadow-md hover:bg-pink-700">Añadir a la bot</a>
        <a href="/commands" target="_blank" class="inline-block px-4 py-2 border border-white text-white rounded-md shadow-md">Ver Comandos</a>

     
    </div>
  </div>
</div>
