<div class="mt-20 py-6 bg-background-darker w-screen">
    <div class="bg-neutral-800 mx-auto flex max-w-7xl flex-col items-center justify-between gap-8 px-4 py-7 lg:flex-row">
    <h2 class="text-white max-w-[560px] bg-gradient-to-bl bg-clip-text text-center text-4xl font-bold text-foreground lg:text-left">Con la confianza de <span class="text-pink-400">más de 10 servidores</span>.</h2>
    <div class="flex flex-wrap justify-center gap-8 lg:justify-end">
        <img alt="Furianos" loading="lazy" width="64" height="64" decoding="async" data-nimg="1" class="rounded-lg block" srcset="https://cdna.artstation.com/p/assets/images/images/056/327/634/original/maddie_creates-gif.gif?1668992619" src="https://i.pinimg.com/736x/87/ed/2f/87ed2fdff9ed4ec680b9b52c0ae60a2b.jpg" style="color: transparent;">
        <img alt="Neko Lovers" loading="lazy" width="64" height="64" decoding="async" data-nimg="1" class="rounded-lg block" srcset="https://imgb.ifunny.co/images/adcffe66c803e2445dfd2e230b0ef7fcab8e79175f014df6336c72f45b95c9fe_1.jpg" src="https://imgb.ifunny.co/images/adcffe66c803e2445dfd2e230b0ef7fcab8e79175f014df6336c72f45b95c9fe_1.jpg" style="color: transparent;">
        <img alt="BlackDemons" loading="lazy" width="64" height="64" decoding="async" data-nimg="1" class="rounded-lg block" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/3be3ec138939351.6227601b51310.gif" src="/_next/image?url=%2Fimages%2Fserver_03_v2.png&amp;w=128&amp;q=75" style="color: transparent;">
        <img alt="Interestelar" loading="lazy" width="64" height="64" decoding="async" data-nimg="1" class="rounded-lg block" srcset="" src="https://pro2-bar-s3-cdn-cf6.myportfolio.com/ce99d3d9-42bc-4db9-8a63-ea3bc7b95e4d/76695a98-9556-43d5-a888-6d6f0aab745f_rw_600.gif?h=073882d764d4c7a5adf627aafbbe6d8f" style="color: transparent;"><img alt="Nekotina Support" loading="lazy" width="64" height="64" decoding="async" data-nimg="1" class="rounded-lg hidden md:block" srcset="https://i.pinimg.com/736x/87/ed/2f/87ed2fdff9ed4ec680b9b52c0ae60a2b.jpg" src="/_next/image?url=%2Fimages%2Fserver_05_v2.png&amp;w=128&amp;q=75" style="color: transparent;">
    </div>
</div>
</div>
